body {
    font-family: 'Oswald';
    font-size: 22px;
    color: #0c343d;
    width: 50%;
    margin: 0 auto;
    background-color: #fffdf9;
    padding: 10px;
}

#content {
    display: block;
    margin: 0 auto;
}

header {
    text-align: center
    color: #0c343d;
	
}

footer {
	font-style: italic;
	font-size: 90%;
    color: #1c4587;
}
