body {
    color: #0c343d;
    width: 50%;
    margin: 0 auto;
    background-color: #fffdf9;
    padding: 10px;
}

#content {
    display: block;
    margin: 0 auto;
}

h1 {
    font-family: 'Oswald';
    font-style: bold;
    font-size: 22px;
    font-weight: 600;
    text-align: center
    color: #0c343d;
	
}

h2 {
    font-family: 'Oswald';
    font-weight: 300;
    font-size: 20px;
    text-align: center
    color: #1c4587;
    
}

p {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

footer {
    font-family: 'Oswald';
    font-weight: 400;
	font-size: 20px;
    color: #1c4587;
}
