body {
    font-family: 'Oswald';
    font-size: 22px;
    color: #193551;
    width: 50%;
    margin: 0 auto;
    background-color: #fff8db;
}

#content {
    display: block;
    margin: 0 auto;
}

header {
    text-align: center;
	
}

footer {
	font-style: italic;
	font-size: 90%;
}
