body {
    background-color: rgb(240,240,240);
    color: rgb(0,0,0);
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
    text-align: center;
	
}

footer {
	font-style: italic;
	font-size: 90%;
}
